.btn {
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #660505);
    background-image: -moz-linear-gradient(top, #ff0000, #660505);
    background-image: -ms-linear-gradient(top, #ff0000, #660505);
    background-image: -o-linear-gradient(top, #ff0000, #660505);
    background-image: linear-gradient(to bottom, #ff0000, #660505);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 100px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 6px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto 0 auto;
    position: absolute;
    
  }
  
.btn:hover {
    background: #db0404;
    background-image: -webkit-linear-gradient(top, #db0404, #c7363d);
    background-image: -moz-linear-gradient(top, #db0404, #c7363d);
    background-image: -ms-linear-gradient(top, #db0404, #c7363d);
    background-image: -o-linear-gradient(top, #db0404, #c7363d);
    background-image: linear-gradient(to bottom, #db0404, #c7363d);
    text-decoration: none;  
}
.body{
    text-align: center;
}
.btn-div{
    margin:175px auto 0 auto;
    display: flex;
    justify-content: center;
}
.no{
    text-align: center;
    font-size: 30px;
    text-decoration: wavy;
    background-blend-mode:darken;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(save.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    

}